/* Button Konsultasi */
.consul-button {
  font-size: 18px;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

/*
 * Loader
 */
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loader_bubble 1.8s infinite ease-in-out;
  animation: loader_bubble 1.8s infinite ease-in-out;
}

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.50s;
  animation-delay: -0.25s;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.50s;
  animation-delay: -0.25s;
}

.loader:after {
  left: 3.5em;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes loader_bubble {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em var(--dark-blue-color);
  }
  40% {
    box-shadow: 0 2.5em 0 0 var(--dark-blue-color);
  }
}

@keyframes loader_bubble {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em var(--dark-blue-color);
  }
  40% {
    box-shadow: 0 2.5em 0 0 var(--dark-blue-color);
  }
}